<section class="home-slider inner-page owl-carousel">
    <div class="slider-item" style="background-image: url('img/agilitypage.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>Agility</h1>
                    <!-- <p class="mb-5">Hier vindt u informatie over de verschillende klassen.</p> -->
                    <!-- <p><a href="#" class="btn btn-white btn-outline-white">Explore</a></p> -->
                </div>
            </div>
        </div>

    </div>
</section>
<!-- END slider -->

<section class="section element-animate">
    <div class="container">
        <!-- <div class="row justify-content-center mb-5">
            <div class="col-md-4"></div>
            <div class="col-md-8 section-heading">
                <h2>Koninklijke Africhtings Club Elewijt - Zemst</h2>
                <p class="small-sub-heading">Curious story of Dogs</p>
            </div>
        </div> -->
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <img src="img/agility.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-md-8">
                <p>Om agility te mogen trainen in onze club :</p>
                <ul>
                    <li>moet je hond minstens 1 jaar oud zijn</li>
                    <li>samen met je hond minstens groep 2 van gehoorzaamheid hebben bereikt.</li>

                </ul>
                <p>
                    Agility is een hondensport waarbij de geleider de hond zodanig moet leiden dat deze vooraf bepaalde
                    hindernissen, welke op een parcours staan opgesteld, in een vooraf bepaalde en op een correcte wijze
                    neemt binnen een zo kort mogelijke tijd.
                </p>

                <p>
                    Er worden wel enkele dingen ingebracht zoals verplichte raakvlakken om de veiligheid van de hond te
                    garanderen.
                </p>
                <p>
                    De hond moet daarvoor ook een aantal eigenschappen bezitten n.l. lenigheid, snelheid, springkracht
                    en
                    bedachtzaamheid.
                </p>

                <p>
                    Het spreekt ook verder voor zich dat de geleider en de hond een goede combinatie moeten vormen,
                    elkaar
                    goed moeten aanvoelen en bovendien in een goede fysieke conditie moeten zijn.
                </p>

                <p>
                    Agility moet prettig zijn voor de hond, voor de geleider en voor het publiek en zo gezien is het dan
                    ook
                    een uitlaatklep voor de energie van elke hond en geleider.
                </p>

                <p>
                    Bij de Vlaamse Federatie Hondensport zijn binnen agility uiteraard meerdere klassen aan het werk.
                </p>
            </div>
        </div>
    </div>
</section>