<style>
.navbar-dark .navbar-nav .nav-link{
  /* color: red; */
  color: white;
  font-size: 15px;
}  
</style>

<li class="nav-item">
    <a class="nav-link" href="index.html">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sporten</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
      <a class="dropdown-item" href="sporten.html#gehoorzaamheid">Gehoorzaamheid</a>
      <a class="dropdown-item" href="sporten.html#agility">Agility</a>
      <a class="dropdown-item" href="sporten.html#canicross">Canicross</a>
      <a class="dropdown-item" href="sporten.html#wandelen">Wandelen</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="training.html">Training</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="team.html">Team</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="kalender.html">Kalender</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="galerij.html">Galerij</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="services.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
      <a class="dropdown-item" href="nieuweleden.html">Nieuwe Leden</a>
      <a class="dropdown-item" href="voeding.html">Voeding</a>
      <a class="dropdown-item" href="dogsurvival.html">Dogsurvival</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact.html">Contact</a>
  </li>
